.view{
    flex: 4;
    width: 80%;
}
.search-container{
    margin-top: 25px;
    margin-left: 77%;
    display: flex;
    
}
.CameraTable{
  margin-top: 5% !important;
}
.input{
    width: 90%;
    border-radius: 18px;
    height: 35px;
    padding-left: 15px;
    border:none;
    background-color: #2c96c7;
    -webkit-box-shadow: 0px 0px 20px -10px rgba(36, 102, 202, 0.75);
    box-shadow: 0px 0px 20px -10px rgba(36, 102, 202, 0.75);;
  
}
::placeholder {
    color:white;
  }
button{
  position: relative;
  margin-left: -35px;
  border-radius: 18px;
  border:none;
  
}